<h1>Top Woman Grandmasters Chess Players</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings as ws
ws.filterwarnings ("ignore")

In [2]:
df = pd.read_csv("top_women_chess_players_aug_2020.csv")

In [3]:
df.head()

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,700070,"Polgar, Judit",HUN,F,1976.0,GM,2675,2646.0,2736.0,wi
1,8602980,"Hou, Yifan",CHN,F,1994.0,GM,2658,2621.0,2601.0,NaN
2,5008123,"Koneru, Humpy",IND,F,1987.0,GM,2586,2483.0,2483.0,NaN
3,4147103,"Goryachkina, Aleksandra",RUS,F,1998.0,GM,2582,2502.0,2441.0,NaN
4,700088,"Polgar, Susan",HUN,F,1969.0,GM,2577,NaN,NaN,wi

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8553 entries, 0 to 8552
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fide id          8553 non-null   int64
 1   Name             8553 non-null   object
 2   Federation       8553 non-null   object
 3   Gender           8553 non-null   object
 4   Year_of_birth    8261 non-null   float64
 5   Title            3118 non-null   object
 6   Standard_Rating  8553 non-null   int64
 7   Rapid_rating     3608 non-null   float64
 8   Blitz_rating     3472 non-null   float64
 9   Inactive_flag    5852 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 668.3+ KB

In [5]:
top_ten_players = df[:10]
top_ten_players

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,700070,"Polgar, Judit",HUN,F,1976.0,GM,2675,2646.0,2736.0,wi
1,8602980,"Hou, Yifan",CHN,F,1994.0,GM,2658,2621.0,2601.0,NaN
2,5008123,"Koneru, Humpy",IND,F,1987.0,GM,2586,2483.0,2483.0,NaN
3,4147103,"Goryachkina, Aleksandra",RUS,F,1998.0,GM,2582,2502.0,2441.0,NaN
4,700088,"Polgar, Susan",HUN,F,1969.0,GM,2577,NaN,NaN,wi
5,8600147,"Xie, Jun",CHN,F,1970.0,GM,2574,NaN,NaN,wi
6,8603006,"Ju, Wenjun",CHN,F,1991.0,GM,2560,2610.0,2536.0,NaN
7,14109336,"Lagno, Kateryna",RUS,F,1989.0,GM,2546,2521.0,2608.0,NaN
8,14114550,"Muzychuk, Mariya",UKR,F,1992.0,GM,2544,2506.0,2326.0,NaN
9,12801259,"Cmilyte, Viktorija",LTU,F,1983.0,GM,2538,2394.0,2435.0,wi

In [6]:
gms = df[df.Title=='GM'].reset_index()
gms

,index,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,0,700070,"Polgar, Judit",HUN,F,1976.0,GM,2675,2646.0,2736.0,wi
1,1,8602980,"Hou, Yifan",CHN,F,1994.0,GM,2658,2621.0,2601.0,NaN
2,2,5008123,"Koneru, Humpy",IND,F,1987.0,GM,2586,2483.0,2483.0,NaN
3,3,4147103,"Goryachkina, Aleksandra",RUS,F,1998.0,GM,2582,2502.0,2441.0,NaN
4,4,700088,"Polgar, Susan",HUN,F,1969.0,GM,2577,NaN,NaN,wi
5,5,8600147,"Xie, Jun",CHN,F,1970.0,GM,2574,NaN,NaN,wi
6,6,8603006,"Ju, Wenjun",CHN,F,1991.0,GM,2560,2610.0,2536.0,NaN
7,7,14109336,"Lagno, Kateryna",RUS,F,1989.0,GM,2546,2521.0,2608.0,NaN
8,8,14114550,"Muzychuk, Mariya",UKR,F,1992.0,GM,2544,2506.0,2326.0,NaN
9,9,12801259,"Cmilyte, Viktorija",LTU,F,1983.0,GM,2538,2394.0,2435.0,wi
10,10,14111330,"Muzychuk, Anna",UKR,F,1990.0,GM,2535,2533.0,2505.0,NaN
11,11,13601903,"Dzagnidze, Nana",GEO,F,1987.0,GM,2524,2447.0,2391.0,NaN
12,12,5015197,"Harika, Dronavalli",IND,F,1991.0,GM,2515,2450.0,2422.0,NaN
13,13,8603642,"Tan, Zhongyi",CHN,F,1991.0,GM,2510,2501.0,2510.0,NaN
14,14,8605114,"Lei, Tingjie",CHN,F,1997.0,GM,2505,2527.0,2530.0,NaN
15,15,13600036,"Chiburdanidze, Maia",GEO,F,1961.0,GM,2500,2432.0,2437.0,wi
16,20,8601283,"Zhao, Xue",CHN,F,1985.0,GM,2486,2442.0,2407.0,NaN
17,22,4134974,"Kosintseva, Nadezhda",RUS,F,1985.0,GM,2483,2516.0,2519.0,wi
18,26,4133471,"Kosintseva, Tatiana",RUS,F,1986.0,GM,2475,2496.0,2506.0,wi
19,29,4128125,"Kosteniuk, Alexandra",RUS,F,1984.0,GM,2471,2517.0,2521.0,NaN
20,32,8600635,"Xu, Yuhua",CHN,F,1976.0,GM,2465,NaN,NaN,wi
21,33,1700030,"Cramling, Pia",SWE,F,1963.0,GM,2464,2396.0,2320.0,NaN
22,34,2902257,"Stefanova, Antoaneta",BUL,F,1979.0,GM,2462,2461.0,2485.0,NaN
23,36,13602640,"Khotenashvili, Bela",GEO,F,1988.0,GM,2458,2413.0,2320.0,NaN
24,37,13602993,"Batsiashvili, Nino",GEO,F,1987.0,GM,2457,2425.0,2278.0,NaN
25,46,617822,"Sebag, Marie",FRA,F,1986.0,GM,2438,2413.0,2482.0,NaN
26,49,4167570,"Gunina, Valentina",RUS,F,1989.0,GM,2431,2427.0,2476.0,NaN
27,50,2012782,"Krush, Irina",USA,F,1983.0,GM,2429,2392.0,2342.0,NaN
28,53,1106619,"Socko, Monika",POL,F,1978.0,GM,2428,2321.0,2289.0,NaN
29,56,8600546,"Zhu, Chen",QAT,F,1976.0,GM,2423,2404.0,2378.0,wi
30,65,14110911,"Ushenina, Anna",UKR,F,1985.0,GM,2416,2376.0,2387.0,NaN
31,72,13300210,"Danielian, Elina",ARM,F,1978.0,GM,2407,2358.0,2289.0,NaN
32,73,12400149,"Hoang, Thanh Trang",HUN,F,1980.0,GM,2407,2338.0,2364.0,NaN
33,101,13600168,"Arakhamia-Grant, Ketevan",SCO,F,1968.0,GM,2380,2282.0,2177.0,NaN
34,130,1004786,"Peng, Zhaoqin",NED,F,1968.0,GM,2358,NaN,2133.0,NaN
35,180,14101513,"Zhukova, Natalia",UKR,F,1979.0,GM,2328,2312.0,2369.0,NaN
36,350,13600125,"Gaprindashvili, Nona",GEO,F,1941.0,GM,2270,2199.0,2105.0,NaN

In [7]:
print("There are total {} female chess Grandmasters (GMs) in world currently.".format(len(gms)))

There are total 37 female chess Grandmasters (GMs) in world currently.

That's it! The result is 37 female chess Gransmasters players in the world!